page-search {
    .cont{
        width: 100%;
        height: 30px;
        display: inline;
    }
    .fu{
        width:75px;
        height: 75px;
        border-radius:10%;
        border:solid red;
        display: inline-block;
    }
    .fuc{
        width:160px;
        height: 160px;
        border-radius:1%;
        border:solid green;
        display: inline-block;
    }

}
